<mat-toolbar color="primary">
    <span>
        <button class="home-btn" mat-button matTooltip="Home" [routerLink]="['/']">
            <fa-icon [icon]="faUtensils"></fa-icon>&nbsp;Registered Chefs
        </button>
    </span>
    <span class="example-spacer"></span>
    <button mat-button (click)="onLogout()"*ngIf="isLoggedIn$ | async; else loggedIn">Logout</button>
    <ng-template #loggedIn>
        <button mat-button [routerLink]="['/login']">Login</button>
        <button mat-button [routerLink]="['/register']">Register</button>
    </ng-template>
</mat-toolbar>