<!-- <app-add-chef></app-add-chef> -->
<div *ngIf="isLoggedIn$ | async">
    <p class="content-link">Content retrieved from: <a href="{{url}}" target="_blank">{{url}}</a></p>
    <div class="content">
        <mat-card class="example-card" *ngFor="let chef of chefs$ | async">
            <mat-card-header>
                <mat-card-title>
                    <fa-icon [icon]="faUser"></fa-icon>&nbsp;{{chef.name}}
                </mat-card-title>
                <mat-card-subtitle>Age: {{chef.age}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <!-- <mat-card-actions *ngIf="isLoggedIn$ | async">
            <button mat-button (click)="deleteChef(chef)">Remove</button>
        </mat-card-actions> -->
        </mat-card>
    </div>
</div>