<mat-card class="login-card">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input type="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                <mat-error *ngIf="hasError('email', 'email')">Email is invalid!</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
    </form>
</mat-card>